<!DOCTYPE html>
<html ng-app="HospitAlert">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .block {
            display: block;
            width: 100%;
            border: none;
            background-color: #ff0c05;
            color: white;
            padding: 56px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }

        .block:hover {
            background-color: #ddd;
            color: black;
        }

        .center p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
    <!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>-->
    <script src="/angular.min.js"></script>
    <script src="/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="/css/themes/bootstrap.css">
    <link rel="stylesheet" href="/css/alertify.css">
    <script src="/alertify.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/bootstrap-theme.min.css">-->
    <!--<link rel="stylesheet" href="/bootstrap-glyphicons.css">-->
    <!--<script src="/bootstrap.min.js"></script>-->
    <script src="/js/app-module.js"></script>
    <script src="/js/app-ctrl.js"></script>

    <link rel="manifest" href="/manifest.json">
</head>
<body ng-controller="HospitAlertCtrl" style="background-color:#94d2e6;margin-left: 5vw;margin-right: 5vw;">

<h1 style="text-align: center;">
    <strong>HospitAlert</strong>
</h1>

<div style="width:100%;height: 100%">
        <form class="center">
            <div class="form-group form-group-lg">
                <label for="inputRoomNumber" style="font-size: 5vh;">Numar camera</label>
                <input style="font-size: 5vh;" type="number" class="form-control" id="inputRoomNumber" ng-model="inputRoomNumber"
                       placeholder="numar camera" ng-value="inputRoomNumber" required />
            </div>
            <br/>
            <div class="form-group form-group-lg">
                <label for="inputBed" style="font-size: 5vh;">Numar pat</label>
                <input style="font-size: 5vh;" type="number" class="form-control" id="inputBed" ng-model="inputBed" ng-value="inputBed" placeholder="etaj" required />
            </div>
            <br/>
            <button type="button" style="width:100%; margin-bottom: 5%;" class="btn btn-success btn-block btn-lg" ng-click="registerRoomAndBedNumber()"><i class="glyphicon glyphicon-save" style="font-size: 7vh;"></i ><span  style="font-size: 7vh;">&nbsp;Salveaza</span></button>
            <br/>
            <button type="button" style="width:100%;" class="btn btn-danger btn-block btn-lg" ng-click="needHelp()"><i class="glyphicon glyphicon-exclamation-sign" style="font-size: 10vh;"></i><span  style="font-size: 10vh;">&nbsp;Alerta</span></button>
        </form>
</div>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' }).then(function(reg) {

            if(reg.installing) {
                console.log('Service worker installing');
            } else if(reg.waiting) {
                console.log('Service worker installed');
            } else if(reg.active) {
                console.log('Service worker active');
            }

        }).catch(function(error) {
            // registration failed
            console.log('Registration failed with ' + error);
        });
    }
</script>
</body>

</html>