<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"/>
<div ng-controller="AlertsCtrl" class="container" style="padding:10px 10px;" >
    <div class="container" style="padding:10px 10px;">
        <div class="container" style="padding:10px 10px;">
            <table ng-table="alertsTable" class="table table-bordered table-striped table-hover">
                <tr ng-repeat="a in $data">
                    <td data-title="'#'"><span class="sn">{{(alertsTable.page() - 1) * alertsTable.count() + $index + 1}}</span>.</td>
                    <!--<td>{{doc.id}}</td>-->
                    <td data-title="'Utilizator'" sortable="'username'">{{a.username}}</td>
                    <td data-title="'Status'" sortable="'status'">{{a.status == 1 ? 'Confirmata' : 'Initilizata'}}</td>
                    <td data-title="'Mesaj alerta'" sortable="'message'">{{a.message}}</td>
                    <td data-title="'Tip'" sortable="'status'">{{a.type}}</td>
                    <td data-title="'Timestamp'" sortable="'timestamp'">{{getDatetime(a.timestamp)}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>