<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"/>
<div ng-controller="AppointmentCtrl" class="container" >
    <div class="container" style="padding:10px 10px;">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"></legend>
            <form class="form-inline" ng-hide="hideAdd()">

                <div class="form-group">
                    <label for="inputDoctorId">Doctor</label>
                    <select id="inputDoctorId" ng-model="inputDoctor" class="form-control" ng-required="true">
                        <option ng-repeat="d in doctors" value="{{d.id}}">{{d.firstName}} {{d.lastName}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputPatientId">Pacient</label>
                    <select id="inputPatientId" ng-model="inputPatient" class="form-control" ng-required="true">
                        <option ng-repeat="p in patients" value="{{p.id}}">{{p.firstName}} {{p.lastName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputRoomId">Camera</label>
                    <select id="inputRoomId" ng-model="inputRoom" class="form-control" ng-required="true" ng-change="getFreeBedsByRoomId(inputRoom)">
                        <option ng-repeat="r in rooms" value="{{r.id}}">{{r.number}}</option>
                    </select>
                    <!--<select id="inputRoomId" ng-model="inputRoom" ng-required="true" class="form-control" -->
                            <!--ng-options="size as size.name for size in sizes"  ng-change=getFreeBedsByRoomId(inputRoom)"></select>-->
                </div>
                <div class="form-group">
                    <label for="inputBedNumberId">Numar Pat</label>
                    <!--<input id="inputBedNumberId" ng-model="inputBedNumber" class="form-control" ng-required="true"/>-->
                    <select id="inputBedNumberId" ng-model="inputBedNumber" class="form-control" ng-required="true">
                        <option ng-repeat="bn in freeBedsByRoomId" value="{{bn}}">{{bn}}</option>
                    </select>
                </div>

                <button type="button" class="btn btn-primary" ng-click="addAppointment()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Adauga internare</button>
            </form>
        </fieldset>
    </div>
    <div class="container" style="padding:10px 10px;">
        <table ng-table="appointmentTable" class="table table-bordered table-striped table-hover" id="tbl_employees">
            <tbody id="tbl_posts_body" style="overflow-y:scroll;">
                <tr ng-repeat="app in $data">
                    <td data-title="'#'"><span class="sn">{{(appointmentTable.page() - 1) * appointmentTable.count() + $index + 1}}</span>.</td>
                    <td data-title="'Doctor'" sortable="'firstName'">{{app.doctor.firstName}} {{app.doctor.lastName}} - {{app.doctor.specialization}}</td>
                    <td data-title="'Pacient'">{{app.patient.firstName}} {{app.patient.lastName}}</td>
                    <td data-title="'Camera'">{{app.room.number}} - {{app.room.description}}</td>
                    <td data-title="'Pat'">{{app.bedNumber}}</td>
                    <td data-title="'Actiuni'">
                        <button type="button" class="btn-xs btn-danger" ng-click="deleteAppointment(app.id)" ng-hide="hideDelete()">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>