<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"/>
<div ng-controller="DoctorCtrl" class="container" style="padding:10px 10px;">
    <div class="container" style="padding:10px 10px;">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"></legend>
            <form class="form-inline" ng-hide="hideAdd()">
                <div class="form-group">
                    <label for="inputDoctorFirstName">Nume</label>
                    <input type="text" class="form-control" id="inputDoctorFirstName" ng-model="inputDoctorFirstName" placeholder="first name" required />
                </div>

                <div class="form-group">
                    <label for="inputDoctorLastName">Prenume</label>
                    <input type="text" class="form-control" id="inputDoctorLastName" ng-model="inputDoctorLastName" placeholder="last name" required />
                </div>

                <div class="form-group">
                    <label for="inputDoctorEmail">Email</label>
                    <input type="text" class="form-control" id="inputDoctorEmail" ng-model="inputDoctorEmail" placeholder="email" required />
                </div>

                <div class="form-group">
                    <label for="inputDoctorTelefon">Telefon</label>
                    <input type="text" class="form-control" id="inputDoctorTelefon" ng-model="inputDoctorTelefon" placeholder="phone" required />
                </div>

                <div class="form-group">
                    <label for="inputDoctorSpecializare">Specializare</label>
                    <input type="text" class="form-control" id="inputDoctorSpecializare" ng-model="inputDoctorSpecializare" placeholder="specialization" required />
                </div>

                <button type="button" class="btn btn-primary" ng-click="addDoctor()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Adauga doctor</button>
            </form>
        </fieldset>
    </div>
    <div class="container" style="padding:10px 10px;">
        <table ng-table="doctorsTable" class="table table-bordered table-striped table-hover" id="tbl_employees">
            <tr ng-repeat="doc in $data">
                <td data-title="'#'"><span class="sn">{{(doctorsTable.page() - 1) * doctorsTable.count() + $index + 1}}</span>.</td>
                <!--<td>{{doc.id}}</td>-->
                <td data-title="'Nume'" sortable="'firstName'">{{doc.firstName}}</td>
                <td data-title="'Prenume'" sortable="'lastName'">{{doc.lastName}}</td>
                <td data-title="'Email'" sortable="'email'">{{doc.email}}</td>
                <td data-title="'Telefon'" sortable="'phoneNumber'" >{{doc.phoneNumber}}</td>
                <td data-title="'Specializare'"sortable="'specialization'">{{doc.specialization}}</td>
                <td data-title="'Actiuni'" ng-hide="hideAllActions()">
                    <button type="button" class="btn-xs btn-danger" ng-click="deleteDoctor(doc.id)" ng-hide="hideDelete()">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>