<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"/>
<div ng-controller="PatientCtrl" class="container" style="padding:10px 10px;">
    <div class="container" style="padding:10px 10px;">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"></legend>

            <form class="form-inline" ng-hide="hideAdd()">
                <div class="form-group">
                    <label for="inputPatientFirstName">Nume</label>
                    <input type="text" class="form-control" id="inputPatientFirstName" ng-model="inputPatientFirstName" placeholder="first name" required />
                </div>

                <div class="form-group">
                    <label for="inputPatientLastName">Prenume</label>
                    <input type="text" class="form-control" id="inputPatientLastName" ng-model="inputPatientLastName" placeholder="last name" required />
                </div>

                <div class="form-group">
                    <label for="inputPatientAddress">Adresa</label>
                    <input type="text" class="form-control" id="inputPatientAddress" ng-model="inputPatientAddress" placeholder="adresa" required />
                </div>

                <div class="form-group">
                    <label for="inputPatientPhoneNumber">Telefon</label>
                    <input type="text" class="form-control" id="inputPatientPhoneNumber" ng-model="inputPatientPhoneNumber" placeholder="phone" required />
                </div>

                <div class="form-group">
                    <label for="inputPatientAge">Varsta</label>
                    <input type="text" class="form-control" id="inputPatientAge" ng-model="inputPatientAge" placeholder="varsta" required />
                </div>

                <div class="form-group">
                    <label for="inputPatientCnp">Cnp</label>
                    <input type="text" class="form-control" id="inputPatientCnp" ng-model="inputPatientCnp" placeholder="cnp" required />
                </div>

                <div class="form-group">
                    <label for="inputPatientGender">Gen</label>
                    <input type="text" class="form-control" id="inputPatientGender" ng-model="inputPatientGender" placeholder="gen" required />
                </div>

                <button type="button" class="btn btn-primary" ng-click="addPatient()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Adauga pacient</button>
            </form>
        </fieldset>
    </div>
    <div class="container" style="padding:10px 10px;">
        <table ng-table="patientsTable" class="table table-bordered table-striped table-hover" id="tbl_employees">
            <tr ng-repeat="p in $data">
                <td data-title="'#'"><span class="sn">{{(patientsTable.page() - 1) * patientsTable.count() + $index + 1}}</span>.</td>
                <!--<td>{{doc.id}}</td>-->
                <td data-title="'Nume'" sortable="'firstName'">{{p.firstName}}</td>
                <td data-title="'Prenume'" sortable="'lastName'">{{p.lastName}}</td>
                <td data-title="'Adresa'" sortable="'address'">{{p.address}}</td>
                <td data-title="'Telefon'" sortable="'phoneNumber'">{{p.phoneNumber}}</td>
                <td data-title="'Varsta'" sortable="'age'">{{p.age}}</td>
                <td data-title="'Cnp'" sortable="'cnp'">{{p.cnp}}</td>
                <td data-title="'Gen'" sortable="'gender'">{{p.gender}}</td>
                <td data-title="'Actiuni'" ng-hide="hideAllActions()">
                    <button type="button" class="btn-xs btn-danger" ng-click="deletePatient(p.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>