<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"/>
<div ng-controller="RoomCtrl" class="container" style="padding:10px 10px;">
    <div class="container" style="padding:10px 10px;">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"></legend>
            <form class="form-inline" ng-hide="hideAllActions()">
                <div class="form-group">
                    <label for="inputRoomNumber">Numar</label>
                    <input type="number" class="form-control" id="inputRoomNumber" ng-model="inputRoomNumber" placeholder="numar" required />
                </div>

                <div class="form-group">
                    <label for="inputRoomDescription">Descriere</label>
                    <input type="text" class="form-control" id="inputRoomDescription" ng-model="inputRoomDescription" placeholder="descriere" required />
                </div>

                <div class="form-group">
                    <label for="inputRoomBedNumber">Numar de paturi</label>
                    <input type="number" class="form-control" id="inputRoomBedNumber" ng-model="inputRoomBedNumber" placeholder="numar de paturi" required />
                </div>

                <button type="button" class="btn btn-primary" ng-click="addRoom()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Adauga camera</button>
            </form>
        </fieldset>
    </div>
    <div class="container" style="padding:10px 10px;">
        <table ng-table="roomsTable" class="table table-bordered table-striped table-hover" id="tbl_employees">
            <tr ng-repeat="r in $data">
                <td data-title="'#'"><span class="sn">{{(roomsTable.page() - 1) * roomsTable.count() + $index + 1}}</span>.</td>
                <!--<td>{{doc.id}}</td>-->
                <td data-title="'Numar'" sortable="'number'">{{r.number}}</td>
                <td data-title="'Descriere'" sortable="'description'">{{r.description}}</td>
                <td data-title="'Numar paturi'" sortable="'bedNumber'">{{r.bedNumber}}</td>
                <td data-title="'Actiuni'">
                    <button type="button" class="btn-xs btn-danger" ng-click="deleteRoom(r.id)" ng-hide="hideDelete()">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>