<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"/>
<style>
    .hidetext { -webkit-text-security: disc; /* Default */ }
</style>
<div ng-controller="UsersCtrl" class="container" style="padding:10px 10px;">
<div class="container" style="padding:10px 10px;">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border"></legend>
        <form class="form-inline">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" ng-model="username" placeholder="username" ng-required="true" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" ng-model="password" placeholder="password" ng-required="true" />
            </div>
            <div class="form-group">
                <label for="inputRole">Role</label>
                <!--<input type="number" class="form-control" id="inputRole" ng-model="role" placeholder="role">-->
                <!--<input list="role" ng-model="role" class="form-control" id="inputRole" required/>-->
                <select id="inputRole" ng-model="role" class="form-control" ng-required="true">
                    <option ng-repeat="r in roles">{{r}}</option>
                </select>
                <!--<datalist id="role" ng-repeat="role in roles">-->
                    <!--<select>-->
                        <!--<option value={{role}}>-->
                    <!--</select>-->
                <!--</datalist>-->
            </div>
            <button type="button" class="btn btn-primary" ng-click="addUser()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add user</button>
        </form>
    </fieldset>
</div>
<div class="container" style="padding:10px 10px;">
    <table ng-table="usersTable" class="table table-bordered table-striped table-hover" id="tbl_employees">
        <tr ng-repeat="user in $data">
            <td data-title="'#'"><span class="sn">{{(usersTable.page() - 1) * usersTable.count() + $index + 1}}</span>.</td>
            <td data-title="'Username'" sortable="'username'" >{{user.username}}</td>
            <td class="hidetext" data-title="'Password'">{{user.password}}</td>
            <td data-title="'Role'" sortable="'role'">{{user.role}}</td>
            <td data-title="'Actions'">
                <a class="btn btn-xs delete-record" ng-click="deleteUser(user.id)"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    </table>
</div>
</div>